<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width, height=device-height, initial-scale=1, minimum-scale=1, 
        viewport-fit=cover">
</head>
<body>
    <button >click me</button>
<hr/>
<div id="log"></div>
<script>
    const log = (msg) => {
        const p = document.createElement('p')
        p.textContent = msg
        document.querySelector('#log').append(p)
    }
    document.querySelector('button').addEventListener('click', () => {
        log("HTML Button Clicked")
        window.postMessage("This is a message from the website", "*")
    })

    
</script>
</body>
</html>
