<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41074817131-tibbtmf6pe0pckqr8ftjpq24ihkai9np.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41074817131-tibbtmf6pe0pckqr8ftjpq24ihkai9np</string>
	<key>API_KEY</key>
	<string>AIzaSyBi3QbGL8UkTB5txmHyvsNZPtfA_oi_j1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>41074817131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TSE.ALUM</string>
	<key>PROJECT_ID</key>
	<string>alum-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>alum-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41074817131:ios:ec162be2b8338f03e4592e</string>
</dict>
</plist>